<h1>Update Item Details</h1>
<%= form_for @item, :class => 'update_class', :method => :PUT do |i| %>
  <%= i.text_field :name, placeholder: "name" %>
  <%= i.text_field :category, placeholder: "category" %>
  <%= i.text_field :quantity, placeholder: "quantity" %>
  <%= i.text_field :inInventory, placeholder: "inInventory" %>
  <%= i.text_area :description, placeholder: "description" %>
  <%= i.submit %>
<% end %>
