<h1>Inventory</h1>
<% if @user_email != nil %>
<% if @isAdmin %>
  <h2>Welcome to the Admin View</h2>
<% else %>
  <h2>Welcome to the Student View</h2>
<% end %>
<table class="styled-table">
  <thead>
    <tr>
      <th id="name_header">Name</th>
      <th id="category_header">Category</th>
      <th id="quantity_header">Quantity</th>
      <th id="inInventory_header">In Inventory</th>
      <th id="description_header">Description</th>
      <th id="show_header">List in Inventory</th>
      <% if @isAdmin %>
        <th id="modify_header">Modify</th>
        <th id="delete_header">Delete</th>
        <th id="issue_header">Issue</th>
        <th id="return_header">Return</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.category %></td>
        <td><%= i.quantity %></td>
        <td><%= i.inInventory %></td>
	      <td><%= i.description%></td>
        <td><%= link_to 'Show Inventory' , item_path(i) %></td>
        <% if @isAdmin %>
	        <td><%= button_to 'Edit', edit_item_path(i), method: 'get' %></td>
	        <td><%= button_to 'Remove', item_path(i), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
          <td><%= button_to 'Issue', issue_item_path(i), method: 'get' %></td>
          <td><%= button_to 'Return', return_item_path(i), method: 'get' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @isAdmin %>
  <%= link_to "Add a New Item", new_item_path %>
<% end %>
<br>
<br>
<% if @isAdmin %>
  <button><%= link_to 'VIEW ALL REQUESTS', requestinvs_index_path, class: 'btn' %></button>
<% else %>
  <button><%= link_to 'REQUEST AN INVENTORY', requestinvs_new_path, class: 'btn' %></button>
  <button><%= link_to 'CHECK YOUR REQUESTS', requestinvs_borrowed_path, class: 'btn' %></button>
<% end %>

<% if @isAdmin %>
    <h1> Project Recommendations </h1>
    <p>Enter a Project number</p>
    <form accept-charset="UTF-8" action="/items" method="get">
      <input id="q" name="q" type="text" />
      <input name="commit" type="submit" value="Search" />
    </form>
    <% if @showResults%>
      <%= @res.body %>
    <% end %>  
<% end %>

<% else %>
  <h1>SIGN IN!</h1>
<% end %>
