<h1>Items#index</h1>
<table class="styled-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>In Inventory</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.category %></td>
        <td><%= i.quantity %></td>
        <td><%= i.inInventory %></td>
        <td><%= i.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>
