<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" data-turbolinks-eval=false src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
<h1>Inventory</h1>
<% if @user_email != nil %>
<% if @isAdmin %>
  <h2>Welcome to the Admin View</h2>
<% else %>
  <h2>Welcome to the Student View</h2>
<% end %>
<table class="styled-table">
  <thead>
    <tr>
      <th id="name_header">Name</th>
      <th id="category_header">Category</th>
      <th id="quantity_header">Quantity</th>
      <th id="inInventory_header">In Inventory</th>
      <th id="description_header">Description</th>
      <th id="show_header">List in Inventory</th>
      <% if @isAdmin %>
        <th id="modify_header">Modify</th>
        <th id="delete_header">Delete</th>
        <th id="issue_header">Issue</th>
        <th id="return_header">Return</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.category %></td>
        <td><%= i.quantity %></td>
        <td><%= i.inInventory %></td>
	      <td><%= i.description%></td>
        <td><%= link_to 'Show Inventory' , item_path(i) %></td>
        <% if @isAdmin %>
	        <td><%= button_to 'Edit', edit_item_path(i), method: 'get' %></td>
	        <td><%= button_to 'Remove', item_path(i), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
          <td><%= button_to 'Issue', issue_item_path(i), method: 'get' %></td>
          <td><%= button_to 'Return', return_item_path(i), method: 'get' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @isAdmin %>
  <%= link_to "Add a New Item", new_item_path %>
<% end %>
<br>
<br>
<% if @isAdmin %>
  <button><%= link_to 'VIEW ALL REQUESTS', requestinvs_index_path, class: 'btn' %></button>
<% else %>
  <button><%= link_to 'REQUEST AN INVENTORY', requestinvs_new_path, class: 'btn' %></button>
  <button><%= link_to 'CHECK YOUR REQUESTS', requestinvs_borrowed_path, class: 'btn' %></button>
<% end %>

<% if @isAdmin %>
    <h1> Project Recommendations </h1>
    <p>Enter a Project number</p>
    <form accept-charset="UTF-8" action="/items" method="get">
      <input id="q" name="q" type="text" />
      <input name="commit" type="submit" value="Search" />
    </form>
     <% if @showResults%>

    <% @res.each do |item|%>
      <p><%= item %></p>     
    <% end %> 
      
    <% end %>  
<% end %>

<% if @isAdmin %>
    <h1>Student Project Assignments</h1>
    <div id="student-assignment">

    </div>
<% end %>

<% else %>
  <h1>SIGN IN!</h1>
<% end %>

<script>
<% if @studentAssignments.any? %>
var tabledataPreProcessed =  '<%= @studentAssignments.to_json %>'.replaceAll('&quot;','"');
tabledata = JSON.parse(tabledataPreProcessed);
var table = new Tabulator("#student-assignment", {
    data:tabledata,           //load row data from array
    layout:"fitColumns",      //fit columns to width of table
    responsiveLayout:"hide",  //hide columns that dont fit on the table
    tooltips:true,            //show tool tips on cells
    addRowPos:"top",          //when adding a new row, add it to the top of the table
    history:true,             //allow undo and redo actions on the table
    pagination:"local",       //paginate the data
    paginationSize:30,         //allow 7 rows per page of data
    paginationCounter:"rows", //display count of paginated rows in footer
    movableColumns:true,      //allow column order to be changed
    resizableRows:true,       //allow row order to be changed
    initialSort:[             //set the initial sort order of the data
        {column:"name", dir:"asc"},
    ],
    columns:[                 //define the table columns
        {title:"Name", field:"full_name", editor:"input", editable: false},
        {title:"UIN", field:"uin", editor:"input", editable: false},
        {title:"Project Assigned", field:"project_assigned", editor:"input", editable: false},
        {title:"Email Address", field:"tamu_email", editor:"input", editable: false},
        {title:"GPA", field:"gpa", editor:"input", editable: false},
        {title:"Resume URL", field:"resume_url", editor:"input", editable: false},
        {title:"Acknowledgement", field:"acknowledgement", editor:"input", editable: false},
        {title:"Created At", field:"created_at", editor:"input", editable: false},
        {title:"Updated At", field:"updated_at", editor:"input", editable: false},
    ],
});
<% else %>
var table = new Tabulator("#student-assignment", {
    placeholder:"No Data Available", //display message to user on empty table
});
<% end %>

</script>
