<% if @user_email != nil %>
<h1>Create an Item</h1>
<%= form_with model: @items do |i| %>
  <%= i.text_field :name, placeholder: "name" %>
  <%= i.text_field :category, placeholder: "category" %>
  <%= i.text_field :quantity, placeholder: "quantity" %>
  <%= i.text_field :inInventory, placeholder: "inInventory" %>
  <%= i.text_area :description, placeholder: "description" %>
  <%= i.submit %>
<% end %>
<% end %>

<% if @user_email == nil %>
    <h1>SIGN IN!</h1>
<% end %>