<% if @user_email != nil %>
    <h1>Items <%= @item.name %> Listing</h1>
    <%= @item.name %> in category "<%= @item.category %>" total = <%= @item.quantity %>, in inventory = <%= @item.inInventory %>, product description -- "<%= @item.description %><br/>
    <%= link_to 'Remove', @items, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if @user_email == nil %>
    <h1>SIGN IN!</h1>
<% end %>