<!DOCTYPE html>
<html>
  <head>
    <title>TAMU ECEN Capstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="header">
      <h1>TAMU ECEN CAPSTONE MANAGER</h1>
    </div>  
    <div class="links">
      <button><%= link_to 'WELCOME' , root_path , class: "btn"%></button>
      <button><%= link_to 'ABOUT' , welcome_about_path, class: "btn" %></button>
      <button><%= link_to 'FORM A TEAM', welcome_studenthome_path , class: 'btn' %></button>
      <button><%= link_to 'SPONSOR PROJECT SUBMISSION', welcome_sponsorprojectsubmission_path , class: 'btn' %></button>     
      <button><%= link_to 'INVENTORY AND PROJECT MANAGEMENT', items_path, class: 'btn' %></button>
      <button><%= link_to 'Forum' , welcome_forum_path, class: 'btn' %></button>
      <% if @user_name %>
        <button><%= link_to "Sign Out", {:controller => :auth, :action => :signout}, class: 'btn' %></button>
        <h4>Welcome <%= @user_email %>!</h4>
      <% else %>
        <button><%= link_to "Sign In", "/auth/microsoft_graph_auth", method: :post, class: 'btn' %></button>
      <% end %>
      
    </div>
    <div class= "yield">
      <%= yield %>
    </div> 
    <span id="back">
      <a href="">
        <%= image_tag asset_path('back-to-top.jpeg'), data: {"turbolinks"=>false}, class: "arrow" %>
      </a>
    </span>
    <div class="footer">      
      <h4>COPYRIGHTS RESERVED &copy;</h4>
    </div> 
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
