<!DOCTYPE html>
<html>
  <head>
    <title>TAMU ECEN Capstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>TAMU ECEN CAPSTONE MANAGER</h1>
    <div class="links">
      <button><%= link_to 'WELCOME' , root_path , class: "btn"%></button>
      <button><%= link_to 'ABOUT' , welcome_about_path, class: "btn" %></button>
      <button><%= link_to 'STUDENT HOME', welcome_studenthome_path , class: 'btn' %></button>
      <button><%= link_to 'SPONSOR PROJECT SUBMISSION', welcome_sponsorprojectsubmission_path , class: 'btn' %></button>
      <button><%= link_to 'INVENTORY MANAGEMENT' , items_path, class: 'btn' %></button>
    </div>
    <%= yield %>
    <hr>
    <span id="back">
      <a href="">
        <%= image_tag asset_path('arrow.jpg'), data: {"turbolinks"=>false}, class: "arrow" %>
      </a>
    </span>
    <h4>TAMU ECEN Capstone Manager | Copyrights Reserved</h4>
  </body>
</html>
